<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <h2>Lista Resultados</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Teacher</th>
        <th>Subject</th>
        <th>Note</th>
    </tr>

    {% for sudent in students %}
        {% for enrollment in students.enrollments %}
            <tr>
                <td>{{ sudent.full_name }}</td>
                <td>Edna</td>
                <td>{{ enrollment.name }}</td>
                <td>{{ enrollment.average }}</td>
            </tr>
        {% endfor %}
    {% endfor %}

</body>
</html>